.custom-shape-divider-bottom-1733801141 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    }

    .custom-shape-divider-bottom-1733801141 svg {
        position: relative;
        display: block;
        width: calc(146% + 1.3px);
        height: 400px;
    }

    .custom-shape-divider-bottom-1733801141 .shape-fill {
        fill: #D581EB;
    }